<div class="clearfix">
    {foreach $offers as $offer}
        <a href={plink :Offers:Detail:show $offer['id']} class="offer">
            <div class='info'>
                <div class='expendable'>
                    <h1>{$offer['name']}</h1>
                    <span class='price'>{$offer['price']} kč</span>
                    <span class='state'>{$offer['state']}</span>
                    <span class='seller'>od {$offer['seller']}</span>
                    <div class='detail'>
                        {if !empty($offer['details'])}
                            <p>{$offer['details']}</p>
                        {else}
                        <p>Nejsou tu žádné podrobnosti.</p>
                        {/if}
                    </div>
                </div>
                <div class='timeline'>
                    <span class='created-at'>Vytvořeno: {$offer['createdAt']}</span>
                    {if isset($offer['updatedAt'])}
                        <span class='updated-at'>Upraveno: {$offer['updatedAt']}</span>
                    {/if}
                </div>
            </div>
            {if isset($offer['imageLink'])}
                <img src={$offer['imageLink']}>
                {else}
                    <img src="/images/unknown.jpg">
            {/if}
        </a>
    {/foreach}
</div>