#frm-advertForm{
    width: 50%;
    margin-left: 21.5%;
    min-height: 50vh;
}
form input, form textarea, form select{
    display: block;
    margin: 10px;
    line-height: 28px;
    font-family: inherit;
    font-size: 18px;
    border: black solid 1px;
    border-radius: 5px;
}
textarea{
    resize: none;
    border-radius: 5px;
}
label{
    font-size: 24px;
    display: block;
}
#frm-advertForm-name{
    width: 60%;
}
#frm-advertForm-details{
    width: 80%;
}
#frm-advertForm-price{
    width: 30%;
}
#frm-advertForm-price{
    display: inline;
}
#frm-advertForm-quantity{
    width: 15%;
}
form h2{
    font-weight: bold;
    font-size: 28px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    margin-bottom: 20px;
}
#frm-advertForm-btn, #frm-signInForm-btn, #frm-signUpForm-btn{
    width: 150px;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}
#frm-searchForm input{
    margin: 0;
    float: left;
    position: relative;
    top: 8px;
}
#frm-filterForm label, #frm-filterForm input{
    display: inline-block;
}
#frm-filterForm br{
    display: none;
}
#frm-filterForm-stateId label {
    width: 34px;
    height: 34px;
    overflow: hidden;
}