body{
    font-family: 'Armata', sans-serif;
    font-family: 'MedievalSharp', cursive;
    font-family: 'Roboto', sans-serif;
}
header{
    background: #B4B4B4;
    position: fixed;
    width: 100%;
    top: 0;
}
header nav{
}
a{
    color: inherit;
    text-decoration: none;
}
li a{
    width: 100%;
    padding: 10px 0;
    display: inline-block;
}
.navbar li{
    display: inline-block;
    text-align: center;
}
header .navbar li{
    height: 100%;
    font-size: 36px;
    width: 18%;
    color: #FFFFFF;
    margin: auto 0;
}
header .navbar li:last-of-type{
    margin: 0 -2px 0 0
}
header .navbar li:hover{
    background: #38383D;
}
header .navbar li a{
    border-right: solid 2px #38383D;
    margin: 5px 0;
}
header .navbar li:last-of-type a{
    border: none;
}
.content{
    margin: 66px 0 0 0;
    padding: 50px 12% 0 13%;
    min-height: 800px;
    background: #198CFF;
}
.post{
    float: left;
    width: 30%;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    margin: 0 8px 8px 0;
    height: 40vh;
    overflow: clip;
}
.post:last-of-type{
    margin-bottom: 30px;
}
.post h1, .about h2{
    font-weight: bold;
    font-size: 28px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.content p{
    font-size: 18px;
    margin-bottom: 12px;
}
.post p{
    margin: 0;
}
footer{
    background: #38383D;
}
footer nav{
    width: 100%;
}
footer .navbar{
    margin: 0 auto;
    width: 60%;
}
footer .navbar li{
    display: inline-block;
    font-size: 18px;
    width: 33%;
    color: #B4B4B4;
    margin: 20px 0;
}
.copyright{
    text-align: center;
    color: #B4B4B4;
    padding: 10px 0;
}
.about{
    width: 99%;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
}
.about h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}
.newPost{
    font-size: 28px;
    font-weight: bold;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    position: fixed;
    top: 116px;
    left: 87%;
    cursor: pointer;
    max-width: 8%;
}
.newPost:hover{
    background: #38383D;
    color: #FFFFFF;
}
.windowBackground{
    background: #38383D;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}
#frm-postForm{
    display: none;
    position: fixed;
    width: 50%;
    left: 21.5%;
    min-height: 50vh;
    background: #FFFFFF;
    z-index: 1;
    padding: 50px;
    border-radius: 8px;
    top: 45px;
}
#frm-postForm input, #frm-postForm textarea{
    display: block;
    margin: 10px;
    line-height: 28px;
    font-family: inherit;
    font-size: 18px;
    border: black solid 2px;
}
textarea{
    resize: none;
    border-radius: 5px;
}
label{
    font-size: 24px;
    display: block;
}
#frm-postForm input{
    border-radius: 5px;
}
#frm-postForm-title{
    width: 60%;
}
#frm-postForm-content{
    width: 80%;
}
form h2{
    font-weight: bold;
    font-size: 28px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    margin-bottom: 20px;
}
.btn-default{
    width: 150px;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}
.flash{
    background: #B4B4B4;
    border: black solid 1px;
    border-radius: 5px;
    position: fixed;
    top: 70px;
    left: 13%;
    padding: 10px 50px;
    color: white;
}