{control solutionsList}
<div class="clearfix">
{*    {foreach $solutions as $solution}*}
{*        <div class="post">*}
{*            <a><h1>{$solution->title}</h1></a>*}
{*            <p>{$solution->content}</p>*}
{*        </div>*}
{*    {/foreach}*}
    eee
</div>