<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="../styles/reset.css" rel="stylesheet">
	<link href="../styles/styles.css" rel="stylesheet">
{*	<link rel="preconnect" href="https://fonts.googleapis.com">*}
{*	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>*}
{*	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto:wght@500&display=swap" rel="stylesheet">*}

	<title>{ifset title}{include title|stripHtml} | {/ifset}Redenhorst</title>
</head>

<body>

	<header>
		<nav>
			<ul class="navbar">
				<li><a href="">Home</a></li>
				<li><a href="">Posts</a></li>
			</ul>
		</nav>
	</header>

	<section class="content">
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	{include content}
	</section>

	<footer>
		<nav>
			<ul class="navbar">
				<li><a href="">Home</a></li>
				<li><a href="">Posts</a></li>
				<li><a href="">About</a></li>
			</ul>
		</nav>
		<p class="copyright">©Copyright 2023 Redenhorst</p>
	</footer>
	{block scripts}

	{/block}
</body>
</html>
