<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="https://nevim.local/styles/reset.css" rel="stylesheet">
	<link href="https://nevim.local/styles/general.css" rel="stylesheet">
	<link href="https://nevim.local/styles/header.css" rel="stylesheet">
	<link href="https://nevim.local/styles/content.css" rel="stylesheet">
	<link href="https://nevim.local/styles/footer.css" rel="stylesheet">
	<link href="https://nevim.local/styles/forms.css" rel="stylesheet">
	<link href="https://nevim.local/styles/clearfix.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Armata&family=MedievalSharp&family=Roboto:wght@500&display=swap" rel="stylesheet">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Capo</title>
</head>

<body>
	<header>
		<nav>
			<ul class="navbar">
				<li><a n:href=":Adverts:Home:default">[Naše logo]</a></li>
				<li class="show-categories"><a n:href=":Adverts:Browse:default">Nabídky</a></li>
				<li><a n:href=":Adverts:Advert:default">Prodat</a></li>
				<li id="search">
				    <form n:name=searchForm id="frm-searchForm" class="clearfix">
                        <input n:name=expression>
                        <input n:name=search value="Hledat">
                    </form>
				</li>
				 {if $user->isLoggedIn()}
					 <li class="sign profile"><a n:href=":Users:Profile:default">Profil</a></li>
					 {if isset($backlink)}<li class="sign out"><a n:href=":Users:Sign:out $backlink">Odhhlásit</a></li>
					 				{else}<li class="sign out"><a n:href=":Users:Sign:out">Odhhlásit</a></li>
					 {/if}
				{elseif isset($backlink)}<li class="sign in"><a n:href=":Users:Sign:in backlink: $backlink">Přihlásit</a></li>
					 				{else}<li class="sign in"><a n:href=":Users:Sign:in">Přihlásit</a></li>
				 {/if}
			</ul>
		</nav>
		<nav>
		    <ul class="categories-bar">
		    {foreach $categories as $categoryId => $categoryName}
		        <li class="category">
		            <a n:href=":Adverts:Browse:category categoryId: $categoryId">{$categoryName}</a>
		            <ul class="subcategories-bar">
		                {foreach $subcategories[$categoryId] as $subcategoryId => $subcategoryName}
		                    <li class="subcategory">
		                        <a n:href=":Adverts:Browse:category categoryId: $subcategoryId">{$subcategoryName}</a>
		                        <ul class="subsubcategories-bar">
                                	{foreach $subsubcategories[$subcategoryId] as $subsubcategoryId => $subsubcategoryName}
                                		<li class="subsubcategory">
                                		    <a n:href=":Adverts:Browse:category categoryId: $subsubcategoryId">{$subsubcategoryName}</a>
                                	    </li>
                                    {/foreach}
                                </ul>
		                    </li>
		                {/foreach}
		            </ul>
		        </li>
		    {/foreach}
		    </ul>
		</nav>
	</header>
    {ifset bar}
        <section class="bar">
            {include bar}
        </section>
    {/ifset}
	<section class="content">
		<div n:foreach="$flashes as $flash" class="flash">{$flash->message}</div>
	{include content}
	</section>

	<div class="windowBackground"></div>

	<footer>
		<nav>
			<ul class="navbar">
				<li><a n:href=":Adverts:Home:default">Domů</a></li>
				<li><a n:href=":Adverts:Browse:default">Nabídky</a></li>
				<li><a n:href=":Shared:About:default">O této stránce</a></li>
			</ul>
		</nav>
		<p class="copyright">©Copyright 2023 Redenhorst</p>
	</footer>

	<script type="text/javascript" src="https://nevim.local/scripts/jquery.js"></script>
	<script type="text/javascript" src="https://nevim.local/scripts/script.js"></script>
    {ifset scripts}
        {include scripts}
    {/ifset}


</body>
</html>
