<ul class="clearfix">

    {foreach $adverts as $advert}
    <li class="advert">
        <a href={plink :Adverts:Detail:show $advert->getId()}>
            <div class='info'>
                <div class='hideable'>
                    <h1>{$advert->getName()}</h1>
                    <span class='price'>{$advert->getPrice()} kč</span>
                    <span class='state'>{$advert->getState()}</span>
                    <span class='subsubcategory'>{$advert->getSubsubcategory()}</span>
                    {if $advert->getBrand()!==null}
                        <span class='brand'>{$advert->getBrand()}</span>
                    {/if}
                    <a href={plink :Adverts:Seller:profile $advert->getSellerId()} class='seller'>od {$advert->getSellerName()}</a>
                    <div class='detail'>
                        {if !empty($advert->getDetails())}
                            <p>{$advert->getDetails()}</p>
                        {else}
                            <p>Nejsou tu žádné podrobnosti.</p>
                        {/if}
                    </div>
                </div>
                <div class='timeline'>
                    <span class='created-at'>Vytvořeno: {$advert->getCreatedAt()}</span>
                    {if $advert->getLastUpdate()!==null}
                        <span class='updated-at'>Upraveno: {$advert->getLastUpdate()}</span>
                    {/if}
                </div>
            </div>
            {if $advert->getMainImageName()!==null}
                <img src='/image/{$advert->getMainImageName()}/'>
                {else}
                    <img src="/images/unknown.jpg">
            {/if}
        </a>
    </li>
    {/foreach}
</ul>