<ul class="clearfix advertsList">
    {foreach $adverts as $advert}
    <li class="advert">
        <a href={plink :Adverts:Detail:show $advert->id}>
            <div class='info'>
                <div class='hideable'>
                    <h1>{$advert->name}</h1>
                    <span class='price'>{$advert->price} kč</span>
                    <span class='state'>{$advert->state}</span>
                    <span class='subsubcategory'>{$advert->subsubcategory}</span>
                    {if $advert->brand}
                        <span class='brand'>{$advert->brand}</span>
                    {/if}
                    <span><a href={plink :Users:Seller:default $advert->sellerId} class='seller'>od {$advert->sellerName}</a></span>
                    <div class='detail'>
                        {if !empty($advert->details)}
                            <p>{$advert->details}</p>
                        {else}
                            <p>Nejsou tu žádné podrobnosti.</p>
                        {/if}
                    </div>
                </div>
                <div class='timeline'>
                    <span class='created-at'>Vytvořeno: {$advert->createdAt}</span>
                    {if $advert->lastUpdate}
                        <span class='updated-at'>Upraveno: {$advert->lastUpdate}</span>
                    {/if}
                </div>
            </div>
            {if $advert->mainImageName}
                <img src='/image/{$advert->mainImageName}/'>
                {else}
                    <img src="/images/unknown.jpg">
            {/if}
        </a>
    </li>
    {/foreach}
</ul>