<form n:name=filterForm id="frm-filterForm">
    <label>Nejvyšší cena<input n:name=max id="frm-filterForm-max"></label>
    <label>Nejnižší cena<input n:name=min id="frm-filterForm-min"></label>
    <select n:name=state id="frm-filterForm-state" size='lenght'>
    <label>Značka<input n:name=brand id="frm-filterForm-brand"></label>
    <label for="frm-filterForm-state">Stav</label>
    <input n:name=filter id="frm-filterForm-filter" value="Filtrovat">
</form>