{layout __WWW_DIR__ . '/templates/mainLayout.latte'}

{block title}
    Prodat
{/block}
{block content}
    {control advertForm}
{/block}
{block scripts}
    <script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
{/block}