{layout __WWW_DIR__ . '/templates/mainLayout.latte'}

{block title}
    Prodat
{/block}
{block content}
    {import advertForm.latte}
    {include advertForm}
{/block}
{block scripts}
    <script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
    <script src="https://nevim.local/scripts/advertForm.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
{/block}