{layout __WWW_DIR__ . '/templates/mainLayout.latte'}

{block title}
Home
{/block}

{block content}

    {foreach $posts as $post}
    <div class="post">
        <a><h1>{$post->title}</h1></a>
        <p>{$post->content}</p>
    </div>
    {/foreach}
