parameters:
	postgresql:
		host: %env.POSTGRES_HOST%
		port: %env.POSTGRES_PORT%
		user: %env.POSTGRES_USER%
		password: %env.POSTGRES_PASSWORD%
		database: %env.POSTGRES_DB%
	cache:
		enabled: true
	redis:
		uri: %env.REDIS_DSN%
		database: %env.REDIS_SHIPMENT_DB%

database:
	dsn: 'pgsql:host=%postgresql.host%;dbname=%postgresql.database%'
	user: %postgresql.user%
	password: %postgresql.password%

includes:
	- messenger.neon