extensions:
	messenger: Contributte\Messenger\DI\MessengerExtension

messenger:
	debug:
		panel: true
	bus:
		messageBus:
			middlewares:
				#- LoggerMiddleware()
				#- @loggerMiddleware
			autowired: true
			allowNoHandlers: false
			allowNoSenders: true
	transport:
		sync:
			dsn: sync://

services:
	- Contributte\Messenger\Bus\QueryBus
	- Contributte\Messenger\Bus\CommandBus
	- \Ondra\App\Shared\Application\BusProvider(@Contributte\Messenger\Bus\CommandBus, @Contributte\Messenger\Bus\QueryBus)

decorator:
	Ondra\App\Shared\Application\CQRSCapable:
		setup:
			- setBusProvider(@\Ondra\App\Shared\Application\BusProvider)
